<ion-content>
  <div class="main-container">
    <div class="container">
      <img class="logo" src="/assets/logo.jpg" alt="logo">

      <h4 class="title">{{ 'SIGN_IN.TITLE' | translate }}</h4>

      <form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <ion-item class="email-item" mode="md">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>{{ 'SIGN_IN.EMAIL_LBL' | translate }}</ion-label>
          <ion-input formControlName="email" type="email" inputmode="email"></ion-input>
        </ion-item>
        <div *ngIf="isSubmitButtonClicked" class="invalid-input">
          <app-invalid-input [control]="signInForm.get('email')"></app-invalid-input>
        </div>

        <ion-item class="password-item" mode="md">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-label>{{ 'SIGN_IN.PASSWORD_LBL' | translate }}</ion-label>
          <ion-input formControlName="password" type="password" inputmode="text"></ion-input>
        </ion-item>
        <div *ngIf="isSubmitButtonClicked" class="invalid-input">
          <app-invalid-input [control]="signInForm.get('password')"></app-invalid-input>
        </div>

        <ion-item class="toggle-item" lines="none" mode="md">
          <ion-label>{{ 'SIGN_IN.REMIND_LBL' | translate }}</ion-label>
          <ion-toggle mode="md" slot="end"
                      [(ngModel)]="isRemindEnabled" [ngModelOptions]="{standalone: true}">
          </ion-toggle>
        </ion-item>

        <div class="submit-button-mobile">
          <ion-button class="ion-no-margin" mode="md" expand="full" type="submit">
            {{ 'SIGN_IN.SUBMIT_BTN' | translate }}
          </ion-button>
        </div>

        <div class="submit-button-desktop">
          <ion-button fill="outline" mode="md" shape="round" type="submit">
            {{ 'SIGN_IN.SUBMIT_BTN' | translate }}
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>